@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-text: #202020;
    --color-primary-blue: #0578ff;
    --color-title: #202020;
    --white: #fff;
    --color-bg-donload: #ffc501;
    --primary-black-train-50: rgba(32, 32, 32, 0.5);
    --primary-grey: #90a3bf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(180deg, #F5F5F5 0%, #DDECFF 50.17%, #F5F5F5 100%);
}

h1 {
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: var(--color-text);
}

h2 {
    font-weight: 700;
    /*64px*/
    font-size: 4rem;
    color: var(--color-title)
}

h3 {
    font-weight: 700;
    /*62px*/
    font-size: 3.875rem;
    text-align: center;
    color: var(--color-title)
}

h5 {
    font-weight: 500;
    /*18px*/
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--color-text);
}

p {
    font-weight: 400;
    /*16px*/
    font-size: 1rem;
    line-height: 140%;
    color: var(--color-text);
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    width: 100%;
    padding: 32px 20px;
    max-width: 1440px;
    margin: 0 auto;
    gap: 30px;
}

.header-logo {
    height: 51px;
    width: 295px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-logo span {
    font-weight: 400;
    /*34px*/
    font-size: 2.125rem;
    color: var(--color-text);
}

.header-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.header-menu-burger {
    display: none;
}

.header-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 610px;
    width: 100%;
    gap: 15px;
}

.header-menu-items a {
    text-decoration: none;
    font-weight: 400;
    /*20px*/
    font-size: 1.25rem;
    line-height: 135%;
    text-align: center;
    color: var(--color-text);
}

.header-menu-items a:last-child {
    font-weight: 600;
}

.main-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.main-container-info {
    padding: 60px 64px;
    width: 100%;
    background: var(--color-primary-blue);
}

.main-container-info-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-container-info-item h4, span {
    text-align: center;
    color: var(--white);
    align-items: center;
}

.main-container-info-item h4 {
    font-weight: 700;
    /*50px*/
    font-size: 3.125rem;
}

.main-container-info-item span {
    font-weight: 500;
    /*20px*/
    font-size: 1.25rem;
}

.main-container-download {
    background-color: var(--color-bg-donload);
    width: 100%;
    padding: 128px 20px 116px 20px;
}

.main-container-download-items {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    max-width: 863px;
}

.main-container-download-items-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.main-container-faqs {
    width: 100%;
    padding: 128px 32px;
}

.main-container-faqs-items {
    max-width: 1086px;
    width: 100%;
    margin: 0 auto;
}

.main-container-faqs-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.main-container-faqs-item-text {
    padding: 16px 0;
}

.hidden {
    display: none;
}

.main-container-faqs-item:not(:last-child) {
    border-bottom: 1px solid var(--primary-black-train-50);
}

.main-container_skip {
    display: flex;
    padding-top: 64px;
    padding-bottom: 128px;
}

.skip-controls_person {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    width: 100%;
    padding: 1px 24px;
}

.skip-controls_trip {
}

.skip-controls_trip span {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text)
}

.skip-controls_trip input {
    border-radius: 10px;
    padding: 16px 24px;
    width: 304px;
    height: 53px;
    background-color: var(--white);
    border: none;
}

.date-input-button {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    padding: 16px 24px;
    max-width: 304px;
    width: 100%;
    height: 53px;
    border: none;
    background: var(--white);
    color: var(--primary-grey);
}

.date-input-button {
    font-weight: 500;
    /*14px*/
    font-size: 0.875rem;
    line-height: 150%;
}

@media (max-width: 900px) {
    .main-container-info {
        padding: 60px 44px;
    }
}

@media (max-width: 768px) {
    h3 {
        /*40px*/
        font-size: 2.5rem;
    }

    .header-container {
        max-width: 100%;
    }

    .header-menu-items {
        display: none;
    }

    .header-menu-burger {
        display: block;
    }

    .main-container {
        max-width: 100%;
    }

    .main-container-info {
        padding: 64px 32px;
    }

    .main-container-info-items {
        max-width: 506px;
        width: 100%;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 40px;
        margin: 0 auto;
    }

    .main-container-download-items {
        max-width: 526px;
        row-gap: 32px;
    }

    .main-container-download-items-controls {
        max-width: 462px;
        margin: 0 auto;
    }

    .main-container-download-items-controls > *:first-child {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media (max-width: 470px) {
    .main-container-download-items-controls {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 410px) {
    .main-container-info {
        max-width: 100%;
        padding: 64px 10px;
    }

    .main-container-faqs {
        max-width: 100%;
        padding: 64px 10px;
    }
}

@media (max-width: 360px) {
    h3 {
        /*32px*/
        font-size: 2rem;
    }

    .header-logo span {
        display: none;
    }

    .main-container-info {
        max-width: 100%;
        padding: 30px 20px;
    }

    .main-container-info-items {
        width: 100%;
        gap: 5px;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 30px;
        margin: 0 auto;
    }

    .main-container-info-item h4 {
        /*40px*/
        font-size: 2.5rem;
    }

    .main-container-info-item span {
        font-weight: 500;
        /*16px*/
        font-size: 1rem;
    }

    .main-container-download {
        padding: 32px 5px;
    }

    .main-container-download-items {
        max-width: 268px;
        row-gap: 30px;
    }

    .main-container-faqs {
        padding: 64px 20px;
    }
}

